body{
  background-color: palevioletred;
}
.App{
  background-color: rgb(84, 185, 218);
  height: 500px;
  width: 400px;
  margin: 40px auto;

}
#to-do-form input{
  background-color: rgb(182, 234, 255);
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 20px;
  border-radius: 5px;
}
#to-do-form input::placeholder{
  color: rgb(163, 175, 183);
}
#to-do-form input:focus{
  outline: none;
}
#to-do-form button{
  border: 0;
  height: 50px;
  width: 80px;
  font-size: 18px;
  border-radius: 5px;
  background: rgb(57, 109, 127);
  color: rgb(189, 200, 203);
  cursor: pointer;
  font-weight: bolder;
}
